.activity__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 122.5%;
    margin-bottom: 20px;
}

.activity__list__head {
    display: flex;
    font-size: 18px;
    line-height: 122.5%;
    /* identical to box height, or 22px */
    color: #828282;
    padding: 20px 0;
    flex-wrap: wrap;
}


.activity__list__col--name {
    max-width: 400px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.activity__list__col--from {
    max-width: 211px;
    padding-right: 10px;
}

.activity__list__col--to {
    max-width: 210px;
    padding-right: 5px;
}


.activity__list__col--type {
    max-width: 145px;
    padding-right: 10px;
}

.activity__list__col--price {
    max-width: 155px;
    padding-right: 10px;
}

.activity__list__col {
    width: 100%;
}

.activity__list__col--date {
    max-width: 128px;
}

.card_activity {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 122.5%;
    padding: 12px 0;
}

.activity__list__image {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    width: 76px;
    margin-right: 20px;
}

.activity__list__image__inner {
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.activity__list__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.activity__list__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 122.5%;
    flex: 1
}

.card_activity .activity__list__col:first-child {
    padding-left: 12px;
}

.activity__list__col--date {
    padding-right: 12px;
}

.activity__list__col .user__unit__image {
    width: 30px;
    margin-right: 9px;
}

.activity__list__col .user__unit {
    padding-left: 1px;
    box-shadow: none;
}

.activity__list__col .user__unit__title {
    font-size: 18px;
    font-weight: 400;
}


@media screen and (max-width: 1300px) {
    .activity__list__name {
        font-size: 18px;
    }

    .activity__list__image {
        width: 50px;
        border-radius: 10px;
    }

    .activity__list__col--name {
        max-width: 300px;
    }

    .card_activity {
        font-size: 15px;
    }

    .activity__list__head {
        font-size: 16px;
    }

    .activity__list__col .user__unit__title {
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
.activity__block {
    overflow: scroll;
}

.activity__block .container {
    width: 1200px;
}
.activity__block::-webkit-scrollbar {
    display: none;
  }

  .activity__block {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@media screen and (max-width: 800px) {
.activity__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.activity__list__head {
    padding: 10px 0;
    font-size: 12px;
}

.activity__list__col--name {
    max-width: 240px;
}

.activity__list__image {
    width: 45px;
    margin-right: 10px;
}

.card_activity .activity__list__col:first-child {
    padding-left: 8px;
}

.card_activity {
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 15px;
}

.activity__list__name {
    font-size: 16px;
}

.activity__list__col--from {
    max-width: 200px;
}

.activity__block .container {
    width: 1130px;
}
}