.user__top__cover__inner {
    display: flex;
    height: 303px;
}

.user__top__cover__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user__top__avatar {
    border: 7px solid #FFFFFF;
    filter: drop-shadow(4.31461px 4.31461px 21.573px rgba(0, 0, 0, 0.05));
    border-radius: 32.3596px;
    overflow: hidden;
    width: 192px;
    margin-bottom: 24px;
}

.user__top__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

.user__top__who {
    margin-top: -136px;
}

.user__top__avatar__inner {
    display: flex;
}

.user__top__name {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 18px;
}

.user__unit {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(105, 105, 105, 0.1);
    border-radius: 16px;
    display: inline-flex;
    padding: 3px 15px 3px 3px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

.user__unit__image {
    display: flex;
    width: 46px;
    margin-right: 11px;
}

.user__top__info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 86px;
    padding-bottom: 64px;
}

.user__top__info__item__val__images {
    display: flex;
    margin-left: 5px;
}

.user__top__info__item__val {
    font-weight: 700;
    font-size: 30px;
    line-height: 115%;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.user__top__info__item__title {
    font-weight: 350;
    font-size: 18px;
}

.user__top__info__item__val__image {
    display: flex;
    width: 28px;
    border: 2.08333px solid #FFFFFF;
    margin-right: -12px;
    border-radius: 50%;
    overflow: hidden;
}

.user__top__info__item {
    margin-left: 52px;
}

.user__text {
    max-width: 850px;
}

.user__text p {
    margin-bottom: 24px;
}

.user__text p:last-child {
    margin-bottom: 0;
}

.user__text a {
    color: #4737FF;
}

.user__text a:hover {
    color: inherit;
    text-decoration: none;
}


@media screen and (max-width: 1100px) {
    .user__top__info {
        padding-right: 0;
    }

    .user__top__info__item:first-child {
        margin-left: 20px
    }

    .user__top__info__item {
        margin-left: 40px
    }
}

@media screen and (max-width: 900px) {
    .user__top__info__item__val {
        font-size: 20px;
    }

    .user__top__info__item__title {
        font-size: 12px;
    }

    .user__top__info__item__val__image {
        width: 22px;
        border-width: 2px;
    }

    .user__top__info__item {
        margin-left: 32px;
    }
    .user__top__info {
        padding-right: 0;
        padding-bottom: 35px;
    }

    .user__top__cover__inner {
        height: 150px;
    }

    .user__top__avatar {
        width: 95px;
        border-radius: 15px;
        border: 5px solid #fff;
        filter: none;
        box-shadow: 4px 4px 21.573px rgb(0 0 0 / 10%);
        margin-bottom: 18px;
    }

    .user__top__who {
        margin-top: -55px;
        margin-bottom: 0px;
    }

    .user__top__name {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .user__unit {
        border-radius:10px;
        box-shadow: 4px 4px 21.573px rgb(0 0 0 / 10%);
    }
    .user__top__row {
        padding-left: 8px;
        margin-bottom: 15px;
        align-items: flex-end;
    }

    .user__text {
        max-width: 440px;
        font-size: 12px;
        padding-left: 5px;
    }

    .personal__tabs {
        padding: 17px 0 25px;
    }

    .personal__filter__search input[type=text] {
        font-size: 14px;
    }

    .personal__filter__search {
        max-width: 395px;
        margin-right: 10px;
        flex: auto;
    }

    .personal__filter__select {
        max-width: none;
    }

    .custom__select__view {
        padding: 12px;
    }

    .user__top__info.user__top__info--social {
        padding-bottom: 50px;
    }



    .user__top__info__item:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {

    .user__top__who {
        margin-top: -50px;
        margin-bottom: 30px;
    }
    .user__top__info {
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-bottom: 62px;
    }
    .user__top {
        overflow: hidden;
    }

    .user__top__info__item {
        margin-left: 20px;
    }



    .user__text {
        line-height: 1.6;
        font-size: 16px;
    }
}
